.btn {
    background-color: blue;
    margin-left:10px;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    border-width: 0;
    height: 30px;
    width:50px;
}
.container{
    padding: 25%;
    background-color: pink;
}
.card{
    background-color: aquamarine;
    padding:30px;
    text-align: center;
}
.form{
    margin-left: 10px;
    height: 30px;
    width:250px;
    border-radius: 3px;
    border-width: 0;
    text-align: center;
}
span {
    font-weight: bold;
    font-size: 20px;
}